In [4]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
from datetime import datetime, timedelta

In [ ]:
# Ruta al archivo Excel
archivo_excel = '..\Data-Time line.xlsx'

# Nombre de la hoja que deseas leer
nombre_hoja = '4173-Karol'
nombre_csv = '4173' 

# Leer solo la hoja específica
df = pd.read_excel(archivo_excel, sheet_name=nombre_hoja, engine='openpyxl')

In [ ]:
df

,Fecha,Class,H.N,H,S.H
0,2024-01-01,period resting,0.236066,00:14:09.836000,00:14:09.836000
1,2024-01-01,period rumination,0.354098,00:21:14.754000,00:35:24.590000
2,2024-01-01,period eating,1.534426,01:32:03.934000,02:07:28.525000
3,2024-01-01,period other,0.039344,00:02:21.639000,02:09:50.164000
4,2024-01-01,period rumination,0.550820,00:33:02.951000,02:42:53.115000
...,...,...,...,...,...
8877,2024-06-30,period rumination,0.078689,00:04:43.279000,1900-06-02 23:34:01.967000
8878,2024-06-30,period resting,0.039344,00:02:21.639000,1900-06-02 23:36:23.607000
8879,2024-06-30,period rumination,0.118033,00:07:04.918000,1900-06-02 23:43:28.525000
8880,2024-06-30,period eating,0.039344,00:02:21.639000,1900-06-02 23:45:50.164000
8881,2024-06-30,period rumination,0.236066,00:14:09.836000,1900-06-03 00:00:00

In [ ]:
# Eliminar las columnas 'B' y 'C' en el DataFrame original
df.drop(columns=['H','S.H'], inplace=True)
df['Fecha'] = pd.to_datetime(df['Fecha'],format='%d/%m/%Y')
df

          Fecha              Class       H.N
0    2024-01-01     period resting  0.236066
1    2024-01-01  period rumination  0.354098
2    2024-01-01      period eating  1.534426
3    2024-01-01       period other  0.039344
4    2024-01-01  period rumination  0.550820
...         ...                ...       ...
8877 2024-06-30  period rumination  0.078689
8878 2024-06-30     period resting  0.039344
8879 2024-06-30  period rumination  0.118033
8880 2024-06-30      period eating  0.039344
8881 2024-06-30  period rumination  0.236066

[8882 rows x 3 columns]

In [ ]:

# Función para convertir horas en formato timedelta
def horas_a_timedelta(horas):
    horas_enteras = int(horas)
    minutos_totales = (horas - horas_enteras) * 60
    minutos_enteros = int(minutos_totales)
    segundos = round((minutos_totales - minutos_enteros) * 60)
    return timedelta(hours=horas_enteras, minutes=minutos_enteros, seconds=segundos)

# Convertir cada fila de horas a timedelta
df['Tiempo'] = df['H.N'].apply(horas_a_timedelta)

In [ ]:
df

          Fecha              Class       H.N          Tiempo
0    2024-01-01     period resting  0.236066 0 days 00:14:10
1    2024-01-01  period rumination  0.354098 0 days 00:21:15
2    2024-01-01      period eating  1.534426 0 days 01:32:04
3    2024-01-01       period other  0.039344 0 days 00:02:22
4    2024-01-01  period rumination  0.550820 0 days 00:33:03
...         ...                ...       ...             ...
8877 2024-06-30  period rumination  0.078689 0 days 00:04:43
8878 2024-06-30     period resting  0.039344 0 days 00:02:22
8879 2024-06-30  period rumination  0.118033 0 days 00:07:05
8880 2024-06-30      period eating  0.039344 0 days 00:02:22
8881 2024-06-30  period rumination  0.236066 0 days 00:14:10

[8882 rows x 4 columns]

In [ ]:
# Agregar las columnas "desde" y "hasta"
df["Desde"] = ''
df["Hasta"] = ''

# Calcular las columnas "desde" y "hasta"
for i in range(len(df)):
    if i == 0:
        df.at[i, "Desde"] = pd.to_timedelta('00:00:00')
    else:
        start = df.at[i-1, "Hasta"]
        df.at[i, "Desde"] = start

    end = df.at[i, "Tiempo"] + df.at[i, "Desde"]
    df.at[i, "Hasta"] = end

In [ ]:
df

,Fecha,Class,H.N,Tiempo,Desde,Hasta
0,2024-01-01,period resting,0.236066,0 days 00:14:10,0 days 00:00:00,0 days 00:14:10
1,2024-01-01,period rumination,0.354098,0 days 00:21:15,0 days 00:14:10,0 days 00:35:25
2,2024-01-01,period eating,1.534426,0 days 01:32:04,0 days 00:35:25,0 days 02:07:29
3,2024-01-01,period other,0.039344,0 days 00:02:22,0 days 02:07:29,0 days 02:09:51
4,2024-01-01,period rumination,0.550820,0 days 00:33:03,0 days 02:09:51,0 days 02:42:54
...,...,...,...,...,...,...
8877,2024-06-30,period rumination,0.078689,0 days 00:04:43,154 days 23:35:50,154 days 23:40:33
8878,2024-06-30,period resting,0.039344,0 days 00:02:22,154 days 23:40:33,154 days 23:42:55
8879,2024-06-30,period rumination,0.118033,0 days 00:07:05,154 days 23:42:55,154 days 23:50:00
8880,2024-06-30,period eating,0.039344,0 days 00:02:22,154 days 23:50:00,154 days 23:52:22
8881,2024-06-30,period rumination,0.236066,0 days 00:14:10,154 days 23:52:22,155 days 00:06:32

In [ ]:

hourly_periods = []
# Iterar sobre cada fila del dataframe original
for index, row in df.iterrows():
    fecha = row["Fecha"]
    periodo = row["Class"]
    duracion_num = row["H.N"]
    duracion_timedelta = row["Tiempo"]
    desde_timedelta = row["Desde"]
    hasta_timedelta = row["Hasta"]

    start_hour = int(desde_timedelta.total_seconds() // 3600)
    end_hour = int(hasta_timedelta.total_seconds() // 3600)

    # Calcular el total de segundos de duración
    total_seconds = duracion_timedelta.total_seconds()

    for hour in range(start_hour, end_hour + 1):
        # Calcular el tiempo en segundos dentro de la hora actual
        current_hour_start = timedelta(hours=hour )
        current_hour_end = timedelta(hours=(hour + 1) )

        # Calcular la intersección de tiempo dentro de la hora actual
        period_start = max(desde_timedelta, current_hour_start)
        period_end = min(hasta_timedelta, current_hour_end)
        period_seconds = (period_end - period_start).total_seconds()

        # Añadir al DataFrame el periodo correspondiente a la hora actual
        hourly_periods.append({
            "Fecha": fecha,
            "Hora": hour % 24,
            "Periodo": periodo,
            'H.N': duracion_num, 
            "Tiempo": timedelta(seconds=period_seconds),
            "Desde": period_start,
            "Hasta": period_end ,
        })

In [ ]:
# Crear un DataFrame a partir de la lista de diccionarios
hourly_periods_df = pd.DataFrame( hourly_periods)
#hourly_periods_df.drop(hourly_periods_df.index[-1], inplace=True)
hourly_periods_df

,Fecha,Hora,Periodo,H.N,Tiempo,Desde,Hasta
0,2024-01-01,0,period resting,0.236066,0 days 00:14:10,0 days 00:00:00,0 days 00:14:10
1,2024-01-01,0,period rumination,0.354098,0 days 00:21:15,0 days 00:14:10,0 days 00:35:25
2,2024-01-01,0,period eating,1.534426,0 days 00:24:35,0 days 00:35:25,0 days 01:00:00
3,2024-01-01,1,period eating,1.534426,0 days 01:00:00,0 days 01:00:00,0 days 02:00:00
4,2024-01-01,2,period eating,1.534426,0 days 00:07:29,0 days 02:00:00,0 days 02:07:29
...,...,...,...,...,...,...,...
12597,2024-06-30,23,period resting,0.039344,0 days 00:02:22,154 days 23:40:33,154 days 23:42:55
12598,2024-06-30,23,period rumination,0.118033,0 days 00:07:05,154 days 23:42:55,154 days 23:50:00
12599,2024-06-30,23,period eating,0.039344,0 days 00:02:22,154 days 23:50:00,154 days 23:52:22
12600,2024-06-30,23,period rumination,0.236066,0 days 00:07:38,154 days 23:52:22,155 days 00:00:00
12601,2024-06-30,0,period rumination,0.236066,0 days 00:06:32,155 days 00:00:00,155 days 00:06:32

In [ ]:
hourly_periods_df.drop(columns=['H.N','Desde','Hasta'], inplace=True)
hourly_periods_df

           Fecha  Hora            Periodo          Tiempo
0     2024-01-01     0     period resting 0 days 00:14:10
1     2024-01-01     0  period rumination 0 days 00:21:15
2     2024-01-01     0      period eating 0 days 00:24:35
3     2024-01-01     1      period eating 0 days 01:00:00
4     2024-01-01     2      period eating 0 days 00:07:29
...          ...   ...                ...             ...
12597 2024-06-30    23     period resting 0 days 00:02:22
12598 2024-06-30    23  period rumination 0 days 00:07:05
12599 2024-06-30    23      period eating 0 days 00:02:22
12600 2024-06-30    23  period rumination 0 days 00:07:38
12601 2024-06-30     0  period rumination 0 days 00:06:32

[12602 rows x 4 columns]

In [ ]:

# Ahora agrupa y suma por fecha, hora y period
df_grouped = hourly_periods_df.groupby(['Fecha', 'Hora', 'Periodo'])['Tiempo'].sum().reset_index()

# Pivotar y renombrar columnas si es necesario
df_pivot = df_grouped.pivot_table(index=['Fecha', 'Hora'], columns='Periodo', values='Tiempo', fill_value=pd.Timedelta(0)).reset_index()
df_pivot.columns.name = None  # Para quitar el nombre del índice de columnas

# Define the columns to convert
time_columns = ['period eating', 'period other', 'period resting', 'period rumination']

# Convert each timedelta column to decimal hours
for column in time_columns:
    df_pivot[column] = (df_pivot[column].dt.total_seconds() / 3600).round(3)

# Mostrar el DataFrame resultante
df_pivot

,Fecha,Hora,period eating,period other,period resting,period rumination
0,2024-01-01,0,0.410,0.000,0.236,0.355
1,2024-01-01,1,1.000,0.000,0.000,0.000
2,2024-01-01,2,0.125,0.039,0.285,0.551
3,2024-01-01,3,0.000,0.000,0.607,0.393
4,2024-01-01,4,0.000,0.000,0.449,0.551
...,...,...,...,...,...,...
3715,2024-06-30,19,0.781,0.000,0.000,0.219
3716,2024-06-30,20,0.000,0.000,0.393,0.607
3717,2024-06-30,21,0.000,0.000,0.393,0.607
3718,2024-06-30,22,0.000,0.000,0.511,0.489
3719,2024-06-30,23,0.197,0.000,0.236,0.567

In [ ]:
cm = pd.read_csv("../Data_clima.csv")
cm

          fecha  HR      T     RH    WS
0      1/1/2024   0  14.57  95.75  0.11
1      1/1/2024   1  14.32  95.00  0.18
2      1/1/2024   2  14.27  92.56  0.27
3      1/1/2024   3  14.36  89.38  0.22
4      1/1/2024   4  14.58  85.94  0.14
...         ...  ..    ...    ...   ...
4363  30/6/2024  19  14.48  99.25  0.80
4364  30/6/2024  20  14.14  99.12  0.81
4365  30/6/2024  21  13.72  99.69  0.65
4366  30/6/2024  22  13.48  99.81  0.60
4367  30/6/2024  23  13.29  99.69  0.47

[4368 rows x 5 columns]

In [ ]:
# Convertir la columna 'Fecha' de cm al mismo tipo de datos que la columna 'fecha' de hourly_periods_df
cm['fecha'] = pd.to_datetime(cm['fecha'],format="%d/%m/%Y")

In [ ]:

# Fusionar las tablas utilizando la columna de fecha y la de hora
tabla= pd.merge(df_pivot, cm, left_on=['Fecha', 'Hora'], right_on=['fecha', 'HR'], how='left')
# Eliminar la columna duplicada 'Fecha' ya que no es necesaria
tabla.drop(columns=['fecha','HR'], inplace=True)

In [ ]:
tabla

,Fecha,Hora,period eating,period other,period resting,period rumination,T,RH,WS
0,2024-01-01,0,0.410,0.000,0.236,0.355,14.57,95.75,0.11
1,2024-01-01,1,1.000,0.000,0.000,0.000,14.32,95.00,0.18
2,2024-01-01,2,0.125,0.039,0.285,0.551,14.27,92.56,0.27
3,2024-01-01,3,0.000,0.000,0.607,0.393,14.36,89.38,0.22
4,2024-01-01,4,0.000,0.000,0.449,0.551,14.58,85.94,0.14
...,...,...,...,...,...,...,...,...,...
3715,2024-06-30,19,0.781,0.000,0.000,0.219,14.48,99.25,0.80
3716,2024-06-30,20,0.000,0.000,0.393,0.607,14.14,99.12,0.81
3717,2024-06-30,21,0.000,0.000,0.393,0.607,13.72,99.69,0.65
3718,2024-06-30,22,0.000,0.000,0.511,0.489,13.48,99.81,0.60
3719,2024-06-30,23,0.197,0.000,0.236,0.567,13.29,99.69,0.47

In [ ]:

tabla.to_csv(f'../Datos_procesados/{nombre_csv}.csv', index=False)

print(tabla.head())

       Fecha  Hora  period eating  period other  period resting  \
0 2024-01-01     0          0.410         0.000           0.236
1 2024-01-01     1          1.000         0.000           0.000
2 2024-01-01     2          0.125         0.039           0.285
3 2024-01-01     3          0.000         0.000           0.607
4 2024-01-01     4          0.000         0.000           0.449

   period rumination      T     RH    WS
0              0.355  14.57  95.75  0.11
1              0.000  14.32  95.00  0.18
2              0.551  14.27  92.56  0.27
3              0.393  14.36  89.38  0.22
4              0.551  14.58  85.94  0.14